<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>signUp</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <h1>signUp</h1>
	<form action="/user/add" method="post">
		<input type="text" name="email" placeholder="아이디">
		<input type="password" name="password" placeholder="비밀번호">
		<input type="text" name="userName" placeholder="이름">
		<button type="submit">회원가입</button>
	</form>
</body>
</html>