<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>main</title>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<script src="/js/storeDataSendAjax.js"></script>
    <h1>main</h1>
	<form action="/login" method="post">
		<input type="text" id="email" name="email" placeholder="아이디">
		<input type="password" id="password" name="password" placeholder="비밀번호">
		<button type="submit">로그인</button>
	</form>
	<a href="/signUp">회원가입</a>
	<a href="/logout">로그아웃</a>
</body>
</html>